.form {
  display: flex;
  border-radius: 15px;
  border-top: 1px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 2.5%;
  width: 87%;
  font-size: 1.2em;
  font-size:15px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
  /* padding: 10px; */
  display: inline-block;
  border: none;
  width: 13%;
  border-radius: 15px;
  cursor: pointer
}

.send-icon{
  font-size: 22px;
}